### 1. Se carga la extension a SQL y se conecta el servidor con las credenciales del servicio de DB2 en IBM¶

In [1]:
import ibm_db 
#este código me sirve para identificar mis credenciales y crear la conexión DB2 a Jupyter

### Identificar mis credenciales

In [3]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net"
dsn_uid = "rcd76385"        # e.g. "rcd76385"
dsn_pwd = "pp4@7lc9042j43n8"      # e.g. "pp4@7lc9042j43n8"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

### Crear conexión DB2 (SQL) a Python

In [4]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=rcd76385;PWD=pp4@7lc9042j43n8;

In [5]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  rcd76385 on host:  dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net

In [6]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0404
DB_NAME:    BLUDB

In [7]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.05.0400
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

### 2. Instalar ipython-sql para usar códigos de la plataforma

In [8]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.3.17)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (7.15.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (47.3.1.post20200622)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
%load_ext sql
#cargo el paquete

### Conexión SQL con mi portafolio de DB2 con url de la credencial

In [10]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://rcd76385:pp4%407lc9042j43n8@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB   
#Tal como dice la instrucción, debo arregar la url de mi DB2 en credenciales para activar el%sql

In [11]:
import pandas as pd

### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [12]:
#el %sql va si o si para trabajar bajo ese lenguaje ya que estamos programando en python
%sql select count(*) from CRIME_DATA; # el count me permite dar un número

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2: List community areas with per capita income less than 11000.

In [13]:
#SIN %sql este magic no se ejecuta lo de abajo
%sql select community_area_name, per_capita_income from CENSUS_DATA where per_capita_income <11000;

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3: List all case numbers for crimes involving minors?

In [14]:
%sql select case_number, description from CRIME_DATA WHERE description LIKE '%MINOR%';
#seleeccionar las variables donde descripcion contenga la palabra MINOR

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4: List all kidnapping crimes involving a child?

In [15]:
%sql SELECT ID,CASE_NUMBER,DESCRIPTION from CRIME_DATA WHERE PRIMARY_TYPE='KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';  
#selecciono las variables de la base donde la variable primary contenga KIDNAPPING y descripcion contenga CHILD

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', 'CHILD ABDUCTION/STRANGER')]

### Problem 5: What kind of crimes were recorded at schools?

In [16]:
%sql select distinct(primary_type), location_description from CRIME_DATA where location_description like '%SCHOOL%';
#utilizo distinct para evitar duplicados solo valores únicos y de location_description busco los strings que contengan School

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

### Problem 6: List the average safety score for all types of schools.¶

In [17]:
#%sql select name_of_school, AVG(safety_score) from PUBLIC_SCHOOLS group by name_of_school;

#%sql select distinct"Elementary_Middle_HighSchool", (select AVG("safety_score") from PUBLIC_SCHOOLS) from PUBLIC_SCHOOLS;
%sql select distinct("Elementary, Middle, or High School"), (select avg(safety_score) from PUBLIC_SCHOOLS) from PUBLIC_SCHOOLS;
#Seleeciono la variable entre comillas sin duplicados (disntinct) y luego seleeciono el promedio de safety_score

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.504873')),
 ('HS', Decimal('49.504873')),
 ('MS', Decimal('49.504873'))]

### Problem 7: List 5 community areas with highest % of households below poverty line.

In [18]:
%sql select community_area_name, percent_households_below_poverty from CENSUS_DATA order by percent_households_below_poverty DESC limit 5;
#selecciono las varibales, las ordeno por porcentaje de manera decreciente, el top 5

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8: Which community area(number) is most crime prone?

In [20]:
%sql select community_area_number, count(*) as "frecuencias" from CRIME_DATA group by community_area_number order by "frecuencias" DESC limit 1; 
#selecciono la variable, le creo una nueva variable llamada frecuencias que son las muestras de cada dato, desde la base ordenada por la variable y ordenada de manera descendente por "frecuencias"

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

### Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [21]:
#%sql SELECT community_area_name, hardship_index, ( select MAX(hardship_index) from CENSUS_DATA) as max_hard_ship FROM CENSUS_DATA; Este no sirvió
%sql SELECT community_area_name, hardship_index from CENSUS_DATA where hardship_index = (select max(hardship_index) from CENSUS_DATA);

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98)]

### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [22]:
#%sql SELECT community_area_name, COUNT(community_area_name) as "frecuencias" from CRIME_DATA, CENSUS_DATA where community_area_name = (select);
#%sql select community_area_number, count(*) as "frecuencias" from CRIME_DATA group by community_area_number order by "frecuencias" DESC; 
%sql select CENSUS_DATA.community_area_name, CENSUS_DATA.community_area_number, count(CRIME_DATA.case_number) as total_crimes \
from CENSUS_DATA, CRIME_DATA where CENSUS_DATA.community_area_number = CRIME_DATA.community_area_number \
group by CENSUS_DATA.community_area_name,CENSUS_DATA.community_area_number \
order by total_crimes desc limit 1;
#selecciono 3 variables, dos de census_data y una de crime_data que es la frecuencia desde (from) 2 bases. Donde coincidan 1 variable de las dos bases y se agrupan ordenando por orden decreciente 
#por crimen con solo 1 resultado

 * ibm_db_sa://rcd76385:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin', 25, Decimal('43'))]

In [23]:
ibm_db.close(conn)

True